@import '../theme/light.scss';
@import '../variables.scss';

:root {
	font-family: $primary-font-family !important;
}

body {
	box-sizing: border-box;
	font-family: $primary-font-family;
	font-size: 15px !important;
}

.max-width{
	max-width: 215px;
}

.font-family-monospace{
  font-family: monospace
}

.min-width-200{
	min-width: 200px;
}

html {
	/* Adjust font size */
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	/* Font varient */
	font-variant-ligatures: none;
	-webkit-font-variant-ligatures: none;
	/* Smoothing */
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

input, button {
	box-shadow: none !important;
	border-radius: 2px !important;
}

.height100 {
	height: 100%;
}

.font-13 {
	font-size: 13px;
}

.font-800 {
	font-weight: 800;
}

.pointer {
	cursor: pointer;
}

::-webkit-input-placeholder {
	color: $grey;
}

::-moz-placeholder {
	color: $grey;
}

:-ms-input-placeholder {
	color: $grey;
}

::placeholder {
	color: $grey;
}
.body-section {
	min-height: 100vh;
	display: flex;
}
.container-section {
	width: calc(100% - #{$side-nav-width});
}