@import "../../styles/variables.scss";
@import "../../styles/theme/light.scss";


.deepHeader {
	background: black;
	height: 60px;
	display: flex;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 50;
	top: 0px;
	ul {
		list-style-type: none;
		li a{
			text-decoration: none;
		}
	}

	.labelName{
		color: gray;
		font-size: 18px;
	}
	.active{
		color: white
	}


	.profile {
		.userShortHand {
			border-radius: 50%;
			border: 1px solid #ddd;
			height: 45px;
			display: inline-block;
			width: 45px;
			font-size: 15px;
			line-height: 42px;
			text-transform: uppercase;
		}
		.profileImage {
			width: 45px;
			height: 45px;
			border-radius: 50%;
		}
	}

	.sandwichIcon {
		background: #0541c5;
		justify-content: center;
		align-items: center;
		font-size: 25px;
		display: none;
		> i {
			padding: 17px;
		}
	}

	.logo {
		margin-left: 10px;
		width: 70px;
	}

	.logoText {
		margin-left: 10px;
		width: 175px;
	}

	.linkContent {
		font-family: "exo", sans-serif;

		&.show {
			opacity: 0;
			width: 0px;
			height: 0px;
		}
	}

	.navLinks {
		font-family: "exo", sans-serif;
	}
}

.sandwichFontContainer {
	width: 100%;
	text-align: center;

	.sandwichFont {
		color: #fff;
		font-size: 1.4rem;
		font-weight: 600;
		padding: 1.6rem 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		cursor: pointer;

		i {
			width: 100%;
			height: 100%;
		}
	}

	.socialEvents {
		ul {
			list-style: none;
			display: flex;
			justify-content: center;
			padding: 1.6rem 0;

			li {
				border: 1px solid white;
				margin: 0px 8px;

				&:hover {
					background: white;
				}
			}

			a {
				color: white;
				padding: 10px;
				font-size: 25px;

				&:hover {
					color: #107eb9;
				}
			}
		}
	}
}

.why__deep--transfer {
	position: fixed;
	right: 0;
	top: 60px;
	bottom: 0;
	width: 63%;
	max-width: 124.8rem;
	background-image: url('https://cdn.deeptransfer.net/assets/DeepTrans_back_dark_new.jpg') !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	-webkit-transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
	-moz-transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
	transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
	transform: translateX(100%);
	z-index: 101;
	color: #fff;
	font-family: "exo", sans-serif;

	&-inner {
		width: 90%;
		max-width: 1010px;
		margin: 0 auto;
		height: 100%;
		position: relative;
		left: 10rem;
		opacity: 0;
		-webkit-transition: all 0.5s ease-in 0s;
		-moz-transition: all 0.5s ease-in 0s;
		transition: all 0.5s ease-in 0s;
	}

	.close-line {
		position: relative;
		z-index: 1;
	}

	.close-button {
		width: 3rem;
		height: 3rem;
		background: #0541c5;
		border: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		margin-right: -5rem;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
		-moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
		transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
		cursor: pointer;

		.icon {
			display: block;
			width: 37.5%;
			height: 37.5%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) rotate(45deg);

			&::before,
			&::after {
				content: '';
				display: block;
				background: #fff;
				position: absolute;
			}

			&::before {
				top: 0;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 1px;
			}

			&::after {
				left: 0;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				height: 1px;
			}
		}

		&.show {
			margin-right: 0;
			opacity: 1;
			visibility: visible;
			-webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
			-moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
			transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
		}
	}

	&-inner-content {
		position: relative;
		z-index: 0;
		padding-top: 6.7rem;
		height: 100%;
	}

	.top-line {
		display: flex;
		justify-content: space-between;
	}

	.content-title {
		margin-bottom: 0;
		font-family: "industry", sans-serif;
		font-size: 3rem;

		span {
			margin-bottom: 0.6rem;
		}
	}

	.socials__media--box {
		display: inline-flex;
		flex-direction: column;
		position: relative;
		bottom: 2.2rem;

		.socials-media-list {
			list-style: none;
			display: flex;
			justify-content: space-between;

			i {
				color: white;
				padding: 10px;
				border: 1px solid white;
			}
		}

		&-title {
			display: block;
			font-size: 2.2rem;
			font-weight: 400;
			color: #fff;
			line-height: 1;
			margin-bottom: 20px;
		}
	}

	.qa__item {
		padding-left: 5.8rem;
		padding-bottom: 2.3rem;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		margin-bottom: 4.6rem;

		p {
			font-size: 16px;
		}

		.question {
			font-size: 2.2rem;
			font-weight: 500;
			position: relative;

			&::before {
				content: '“';
				font-size: 6rem;
				position: absolute;
				left: -5.8rem;
				top: -17px;

			}
		}

		ul {
			align-items: center;

			&.half-sides {
				margin-bottom: 10px;
			}
		}
	}

	.bottom__content {

		&::after {
			content: '';
			display: table;
			clear: both;
		}

		.ss-wrapper {
			margin-left: -12px;
		}

		.ss-scroll {
			opacity: 1 !important;
			background: rgba(255, 255, 255, 0.6);
			border-radius: 0;
			width: 5px;
		}
	}

	&.show {
		-webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
		-moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
		transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
		transform: translateX(0);

		.why__deep--transfer-inner {
			left: 0;
			opacity: 1;
			-webkit-transition: all 0.5s ease-out 0.2s;
			-moz-transition: all 0.5s ease-out 0.2s;
			transition: all 0.5s ease-out 0.2s;
		}
	}

	.scrollWrapper {
		height: 505px;
		overflow-y: auto;
		font-family: "exo", sans-serif;

		.wrap {
			padding: 3px 10px;
		}

		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-track {
			box-shadow: inset 0 0 5px grey;
			border-radius: 10px;
		}

		&::-webkit-scrollbar-thumb {
			background: rgba(255, 255, 255, 0.690196078431372);
			// border-radius: 10px;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: rgba(255, 255, 255, 0.690196078431372);
		}
	}
}

.responsiveContainer{
	display: none;
}

@media only screen and (max-width: 768px) {
	.why__deep--transfer {
		width: 100%;
		.socials__media--box {
			position: initial;
			.socials__media--box-title{
				display: none;
			}
			.socials-media-list{
				width: 200px;
				margin-top: 10px;
			}
		}
		.top-line{
			flex-direction: column;
		}
		&.responsiveContainer{
			display: block;
		}
	}

	.sandwichIcon {
		display: flex !important;
	}

	.linkContent {
		display: none;
	}
}
