@import "../../styles/variables.scss";
@import "../../styles/theme/light.scss";

.HomeContent{
    
    .ellipsis{
        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .appContent{
        min-height: 500px;
        position: relative;
    top: 60px;
    width: 850px;
    margin: auto
    }

    .passwordContainer{
        width: 350px;
        padding: 0px;
        position: relative;
        .form-control{
            border:none;
        }
        .fa{
            position: absolute;
            top: 13px;
            right: 10px;
        }
    }
    
    .labelWidth{
        width: 265px;
    }

    .copyFileName{
        opacity: 0;
    }

    .font-6 {
        font-size: 6px;
      }

      .font-20{
        font-size: 20px;
  
      }
      .cardVisual{
          width:850px;
          background-color: #f0f0f0
      }


    }