@import '../variables.scss';
@import '../theme/light.scss';

.hr-menubar {
	background: #00073b;
	width: $side-nav-width;
	transition: all .5s ease;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	.textColor{
		color:rgba(255, 255, 255, 0.8);
		padding-top: 15px;
		border-top: 1px solid #141a4c;
		margin-top: 100px;
	}
	.logo {
		margin-left: 10px;
		width: 70px;
    }
    .premiumSubTitle{
        color: white;
    float: right;
    font-size: 10px;
    }
	.logoText {
		width: 150px;
	}
	.active{
		background: #1f2a79;
	}
	.app-logo {
		padding: 27px;
		background: #0a1143;
		text-align: center;
		.hr-logoMark, .sandwichIcon{
			display: none;
		}
	}

	.h-1{
		height: 0.1rem;
	}
	
	.menu-container{
		.menu-items{
			a.navLink {
				display: flex;
				font-size: 15px;
				color: rgba(255, 255, 255, 0.8);
				padding: 10px;
				border-left: 4px solid transparent;
				.transferIcon{
					color:#5c647d
				}
				i{
					&.navIcon{
						width: 19px;
						height: 19px;
						display: inline-block;
						background-size: contain;
						background-repeat: no-repeat;
						margin-right: 10px;
						&.dashboard{
							background-image: url('../../images/settings.svg');
						}
						&.profile{
							background-image: url('../../images/account.svg');
						}
						&.transfer{
							background-image: url('../../images/transfer.svg');
						}
					}
				}
			}
		}
		.btn-outline-success {
			max-width: 100%;
			overflow: hidden;
		}
	}
	&.hr-toggleMenu{
		width: 200px;
		transition: all .5s ease;
	}
	.hr-logoMark{
		.fa-bars{
			font-size: 20px;
		}
	}
	ul li a:hover {
		text-decoration: none;
	}
}
.responsive-header {
	@extend .hr-menubar;
	display: none;
}

@mixin responsiveFont {
	font-size: 1.4rem !important;
	font-weight: 600;
}
@media only screen and (max-width: 768px) {
	.responsive-header {
		background: none;
		display: block !important;
		height: 70px;
		.app-logo {
			padding: 0px;
			height: 100%;
			display: flex;
			align-items: center;
			.sandwichIcon {
				justify-content: center;
				align-items: center;
				font-size: 20px;
				display: flex;
				height: 100%;
				width: 70px;
			}
		}
	}
	.dropdown {
		z-index: 99;
		position: fixed;
    top: 0;
    right: 0;
		.userShortHand {
			background-color: white !important;
			color: black !important;
		}
	}
	.hr-menubar{
		width: 100%;
		transition: all .5s ease;
		z-index: 99;
		display: none;
		.premiumSubTitle {
			left: -45px;
			position: relative;
			top: 15px;
			float: none;
		}
		.app-logo {
			text-align: left;
		}
	}
	.responsive-menu-container {
		top: 70px;
		height: 100%;
		transform: translateX(-100%);
		ul {
			.btn-success {
				@include responsiveFont();
				border: 1px solid #ffffff;
				background-color: transparent;
				&:active {
					border: 1px solid #ffffff !important;
					background-color: transparent !important;
				}
			}
			li {
				list-style-type: none;
				color: #fff;
				padding: 1.6rem 0;
				border-bottom: 1px solid rgba(255, 255, 255, 0.3);
				a {
					@include responsiveFont();
					display: flex;
					align-items: center;
				}
			}
		}
	}
	.hr-menuTitle{
		display: none;
	}
}

