.selector,
	.detailVisual {
		button:hover {
			background-color: #0064dc
		}
		.activeTimePeriodBtn {
			background-color:transparent;
			color: #007AFF;
			border: 1px solid #007AFF;
		}
		.textAlignRight{
          text-align:right;
		}
		.titleLabel{
			flex:1;
		}

  }
