.resumableUpload-container {
  .fileUpload {
    background-size: cover;

    background: #ffffff;
    background-image: url(https://cdn.deeptransfer.net/assets/form-wrapper-bg.jpg);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    z-index: 3;
    background-repeat: no-repeat;
    background-size: 100%;
    .content {
      background: rgba(255, 255, 255, 0.0392156862745098);
      border: 2px dashed #0094ce;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .textUpload {
        margin: 2px 55px;
      }
      .uploadFiles {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 78px 38px;
        cursor: pointer;
        opacity: 0;
      }
    }
    span.addIcon {
      font-size: 30px;
      font-family: "exo", sans-serif;
      margin-bottom: 15px;
      color: #037bff;
      border-radius: 50%;
      background: #fff;
      width: 40px;
      height: 40px;
    }
    .fileDetails {
      height: 35px;
      margin-bottom: 10px;
      margin-right: 8px;
      border-radius: 4px;
      padding: 4px 10px;
      border-bottom: solid 2px rgba(84, 190, 235, 0.59);
    }
  }
  .action-btn {
    background-color: transparent;
    border: 1px solid #28a745;
    color: #28a745;
    border-radius: 4px;
    &:hover {
      background-color: #28a745;
      color: #ffffff;
    }
  }
}