// @import url('https://use.typekit.net/fhh4acs.css');
// Primary color variables
$primary-color: #22B686;
$secondary-color: #3A7DFE;
$black: #253858;
$grey: #70808D;
$light-grey: #D7DEE8;
$bg-grey: #EEF2F5;
$warning: #F77676;
$white: #ffffff;
$inactive-nav-link: #C1CCDB;
$black_gradient_1: #0d1223;
$black_gradient_2: #293449;



$primary-font-family: 'exo';
