@font-face {
	font-family: 'exo';
	src: url('../fonts/EXO-REGULAR.eot');
	src: url('../fonts/EXO-REGULAR.eot?#iefix') format('embedded-opentype'),
		url('../fonts/EXO-REGULAR.woff') format('woff'),
		url('../fonts/EXO-REGULAR.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'exo';
	src: url('../fonts/EXO-ITALIC.eot');
	src: url('../fonts/EXO-ITALIC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/EXO-ITALIC.woff') format('woff'),
		url('../fonts/EXO-ITALIC.ttf') format('truetype');
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'exo';
	src: url('../fonts/EXO-MEDIUM.eot');
	src: url('../fonts/EXO-MEDIUM.eot?#iefix') format('embedded-opentype'),
		url('../fonts/EXO-MEDIUM.woff') format('woff'),
		url('../fonts/EXO-MEDIUM.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'exo';
	src: url('../fonts/EXO-SEMIBOLD.eot');
	src: url('../fonts/EXO-SEMIBOLD.eot?#iefix') format('embedded-opentype'),
		url('../fonts/EXO-SEMIBOLD.woff') format('woff'),
		url('../fonts/EXO-SEMIBOLD.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'industry';
	src: url('../fonts/Industry Inc W00 Base.eot');
	src: url('../fonts/Industry Inc W00 Base.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Industry Inc W00 Base.woff') format('woff'),
		url('../fonts/Industry Inc W00 Base.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}
