.btn {
	font-size: 15px;
	padding-top: 11px;
	padding-bottom: 11px;
	border-radius: 2px;
}

.btn-primary {
	background-color: $primary-color;
	border-color: $primary-color;
	&:hover {
		background-color: $primary-color;
		border-color: $primary-color;
	}
	&:focus {
		box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);
	}
	&.focus {
		box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);
	}
}

.btn-outline-primary {
	color: $primary-color;
	background-color: transparent;
	background-image: none;
	border-color: $primary-color;
	&:hover {
		background-color: $primary-color;
		border-color: $primary-color;
	}
	&:focus {
		box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);
	}
	&.focus {
		box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);
	}
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: $primary-color;
	border-color: $primary-color;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
	background-color: $primary-color;
	border-color: $primary-color;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);
}

.form-control{
	&:focus {
		border-color: $secondary-color;
	}
}
